{% extends 'layouts/index.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{# <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
   

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form> #}

<div class="login-box">
  <div class="login-logo">
      <a href=""></a>
      <a href="javascript:void(0);">Business-<b>Net2all</b></a> </br>
      <small > <h6>votre plateforme multiservices</h6></small>
  </div>
  
  <div class="card card-outline card-primary">
    <div class="card-body">
      <p class="login-box-msg">Veuillez vous connecter</p>

      <form  action="{{ path('login_connect') }}" method="post">
         
           {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}


           {% for message in app.flashes('login') %}
              
                    {% set login = message %}
              
            {% endfor %}
            
        <div class="input-group mb-3">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <input type="text"  value="{{ login ?? ""}}" class="form-control" name="login" placeholder="Email" required autofocus>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <input type="password" class="form-control" name="password" placeholder="Password" required >
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="row">
            <div class="col-7">
                <div class="icheck-primary">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">
                        Se souvernir de moi
                    </label>
                </div>
            </div>
            
            <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
            </div>
        </div>
      </form>
      <br>

      {# <div class="social-auth-links text-center mt-2 mb-3">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> #}

      <!-- /.social-auth-links -->

      <div class="row text-center">
          <div class="col-3">
              <a href="{{path("app_register")}}">S'inscrire</a>
          </div>
          <!-- /.col -->
          <div class="col-9" style="text-align:right">
              <a href="{{path('app_reset_password')}}">Mot de passe oublié ?</a>
          </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
