{% extends 'base.html.twig' %} {% block title %}
  Lites des Entreprises
{% endblock %} 
{% block stylesheets %}

  <link rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css')}}">
  <!-- DataTables -->
  <link rel="stylesheet" href=" {{asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
  <link rel="stylesheet" href=" {{asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}} ">
  <link rel="stylesheet" href=" {{asset('plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {{asset('dist/css/adminlte.min.css')}}">
{% endblock %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Toutes les Entreprises</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Toutes les Entreprises</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Toutes les Entreprises</h3>
                
              </div>
              <!-- /.card-header -->
              <div class="card-body">
               {% if entreprise!=null %}
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prénoms</th>
                    <th>Email</th>
                    <th>Nom Entreprise</th>
                    <th>Numéro de téléphone</th>
                    <th>Etat du Compte</th>
                    <th class="text-right">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for entreprises in entreprise %}
                   {# {{ dump(entreprises) }} #}
                  <tr>
                    <td>{{ entreprises.getNom }}</td>
                    <td>{{ entreprises.getPrenoms }} </td>
                    <td>{{ entreprises.getUser.getEmail }} </td>
                    <td>{{ entreprises.getNomEntreprise }}</td>
                    <td>{{ entreprises.getNumTel }}</td>
                    <td>
                          {% if entreprises.getUser.isStatus %}
                          <span class="badge badge-success">Activé</span>
                          {% else %}
                          <span class="badge badge-secondary">Désactivé</span>
                          {% endif %}
                    </td>
                    <td class="text-right">
                        {# <a role="button" href="{{path("entreprises.enseigne",{id:entreprises.getId}) }}" id="{{ entreprises.getId }}" class="btn btn-sm btn-info" data-toggle="modal"  onclick="mymodal('{{ entreprises.getId }}')" >
                        Enseignes1
                        </a> #}
                        <a role="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal{{entreprises.getId}}">
                          Enseignes
                        </a>

                        {% include 'entreprises/modalEnseigne.html.twig' %}
                        {% if entreprises.getUser.isStatus %}
                           <a href="{{path("entreprises.desactive",{id:entreprises.getUser.id})}}" class="btn btn-danger" role="button">Désactiver</a> 
                        {% else %}
                          <a href="{{path("entreprises.active",{id:entreprises.getUser.id})}}" class="btn btn-primary" role="button">Activer </a> 
						  	 <a href="{{path("entreprise_delete",{id:entreprises.getId})}}" {#data-bs-toggle="modal" data-bs-target="#modal-delete{{enseigne.getId}}"  #} class="btn btn-danger"
                         >
                       <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                      </a>
                        {% endif %}
						
						
						
						
                    </td>
                    {# {% include 'entreprises/modalEnseigne.html.twig' %} #}
                  </tr>
                  {% endfor %}
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
              Aucune Entreprise n'a été ajouté 
            </div>
            {% endif %}
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <div class="modal fade" id="modalEnseigne" style="display: none;" aria-hidden="true">
      <form action="" method="post">
        <div class="modal-dialog">
          <div id="detailmodalEnseigne" class="modal-content">
            
          </div>
        </div>
      </form>
  </div>
      

{% endblock %}
{% block javascripts %}
<script>
  function mymodal(id){
    event.preventDefault();
    $.get('/entreprises/enseigne/'+id, function (data) {
        $('#detailmodalEnseigne').html(data.html);
        $('#modalEnseigne').modal('show');
    });
  }
</script>
     
{% endblock %}