{% extends 'base.html.twig' %} {% block title %}
  {% if param %}
    Modifier un paramètre
  {% else %}
    Ajouter un paramètre
  {% endif %}
{% endblock %} {% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
              {% if param %}
                Modifier un paramètre
              {% else %}
                Ajouter un paramètre
              {% endif %}
            </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">
                {% if param %}
                  Modifier un paramètre
                {% else %}
                  Ajouter un paramètre
                {% endif %}
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Entrer les informations du paramètre</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form, { method: 'POST' }) }}
              <div class="card-body row">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Libellé du paramètre</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-pen"></i></span>
                    </div>
                    {{ form_widget(form.libelle,{"attr":{"class":" form-control "}}) }}
                  </div>
                  <div class="texte-light text-danger mt-0">{{ form_errors(form.libelle) }}</div>
                </div>

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Code du paramètre</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-pen"></i></span>
                    </div>
                    {{ form_widget(form.code,{"attr":{"class":" form-control "}}) }}
                  </div>
                  <div class="texte-light text-danger mt-0">{{ form_errors(form.code) }}</div>
                </div>
              </div>

              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                  {% if param %}
                    Modifier le paramètre
                  {% else %}
                    Ajouter le paramètre
                  {% endif %}
                </button>
              </div>
              {{ form_end(form) }}
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col (left) -->
          <!-- right column -->
          <!-- /.col (right) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
