
        
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Points de ventes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path("point_ventes.create")}}" class="nav-link">
                  <i class="far fa-plus-square  nav-icon"></i>
                  <p>Ajouter un point de ventes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path("point_ventes.index")}}" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p>Tous mes points de ventes</p>
                </a>
              </li>
             
            </ul>
          </li>
          {# <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Widgets
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li> #}
          <li class="nav-item">
            <a href="{{path("point_ventes.abonnements")}}" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Tous mes Abonnements
              </p>
            </a>
           
          </li>
          {# <li class="nav-item">
            <a href="{{path("app_recharges.credite_compte")}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Créditer Compte</p>
            </a>
          </li> #}
          <li class="nav-item">
            <a href="{{path("app_recharges.credite_compte_bpay")}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Créditer Compte</p>
            </a>
          </li>
        
         
    
  