          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Distributeurs
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path("distributeurs.create")}}" class="nav-link">
                  <i class="far fa-plus-square  nav-icon"></i>
                  <p>Ajouter un Distributeur</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path("distributeurs.index")}}" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p>Mes Distributeurs</p>
                </a>
              </li>
            </ul>
          </li>
          {# <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Widgets
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li> #}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Abonnements
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path("abonnements.create")}}" class="nav-link">
                  <i class=" far fa-plus-square nav-icon"></i>
                  <p>Ajouter un Abonnement</p> 
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path("abonnements.index")}}" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p>Tous mes Abonnement</p>
                </a>
              </li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a href="{{path("app_recharges.credite_compte")}}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Créditer Compte</p>
            </a>
          </li>
         
         
       
       
  