
          <li class="nav-item menu-open">
            <a href="{{path("ventes.index")}}" class="nav-link active">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Formules disponibles
                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Vente d'Abonnements
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path("ventes.abonnement.activate")}}" class="nav-link">
                  <i class="far fa-plus-square  nav-icon"></i>
                  <p>Activer un Abonnement</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path("ventes.abonnements")}}" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p>Abonnements activés</p>
                </a>
              </li>
             
            </ul>
          </li>
           <li class="nav-item ">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Vente de Formules
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path("souscriptions.create")}}" class="nav-link">
                  <i class="far fa-plus-square  nav-icon"></i>
                  <p>souscrire à une formule</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path("souscriptions.index")}}" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  <p> Formules activées</p>
                </a>
              </li>
             
            </ul>
          </li>
          <li class="nav-item">
                <a href="{{path("app_recharges.credite_compte")}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Créditer Compte</p>
                </a>
          </li>
          {# <li class="nav-item">
                <a href="{{path("app_recharges.credite_sous_compte")}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Crediter un Sous Compte</p>
                </a>
          </li> #}
          {# <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                 Plus
              </p>
            </a>
           
          </li> #}
         
          
    




      
  